{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">TÓPICOS AVANZADOS DE PROGRAMACIÓN</a>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms">
              <!-- left aligned items -->
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="h4">Inicia sesión para acceder</li>
              <!-- right aligned items -->
          </ul>
      </div>
  </div>
</nav>
{% endblock %}

{% block contenido %}

{% if message %}
<div class="row d-flex justify-content-center align-items-center">
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>


  <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center text-center px-5" role="alert" style="width: 32rem;">
    <div class="container">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <h4 class="alert-heading ">Error al iniciar sesión</h4>
      <p class="mb-0">{{message}}</p>
    </div>
  </div>
</div>
{% endif %}

<div class="row d-flex justify-content-center align-items-center">
  <div class="card shadow-lg" style="width: 32rem;">
    <div class="card-header">
      <div class="container-fluid d-flex justify-content-center">
        <img src="{{url_for('static', filename='/images/avatar.png')}}" alt="Avatar" width="128" height="128">
      </div>
      <h1 class="card-title text-center">Iniciar sesión</h1>
    </div>
    <div class="card-body">
      <form action="/login" method="post">
        <div class="mb-3">
          <small class="form-label">Correo electrónico</small>
          <input type="email" required class="form-control" name="email" id="email" placeholder="tucorreoelectronico@gmail.com">
        </div>

        <div class="mb-3">
          <small class="form-label">Contraseña</small>
          <input type="password" required class="form-control" name="password" id="password" placeholder="No compartas tu contraseña con nadie">
        </div>

        <div class="mb-3">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback">
          <label class="form-check-label" for="invalidCheck3">Recordar sesión</label>
        </div>
        
        <div class="mb-3">
          <input type="submit" class="btn btn-warning btn-lg shadow-lg w-100" value="Iniciar sesión">
        </div>

        <div class="mb-3 justify-content-center">
          <a href="/" class="btn btn-danger btn-lg w-100 shadow-lg" id="registro">Registrarse</a>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}
