{% extends 'base.html' %}


{% block contenido %}

<div class="row d-flex justify-content-center align-items-center">
    <div class="card shadow-lg" style="width: 32rem;">
        <div class="card-body">
          <h1 class="card-title text-center">Inicio de sesión exitoso</h1>
          <hr>
          <div class="mb-3 justify-content-center">
            <a href="/" class="btn btn-danger btn-lg w-100 shadow-lg" id="registro">Regresar al inicio</a>
          </div>
          <br>
        </div>
    </div>
</div>
      
{% endblock %}