{% extends 'plantilla.html' %}

{% block titulo %}
{{data.titulo}}
{% endblock %}

{% block contenido %}

<div class="col col-md-3 " ></div>
<div class="col col-md-6">
    <div class="d-flex card align-items-center" >
        <!--
        -->
        <img src="{{url_for('static', filename='img/00_speaker2.gif')}}" class="square-img img-thumbnail " alt="...">
        <div class="card-body" style="width: 100%;">
            <h3 class="card-title text-center">Acerca de esta página...</h3>
            <hr>
            <!--====================================================================-->
            <div class="row">
                <p class="col col-1 card-text font-monospace text-danger">Q:</p>
                <p class="col card-text font-monospace text-danger">¿Qué es esta página?</p>
            </div>
            <!--       -->
            <div class="row">
                <p class="col col-1 card-text font-monospace">A:</p>
                <p class="col card-text font-monospace">
                    <b>
                        Esta página es un proyecto escolar de la materia de Tópicos avanzados de programación
                        en la que durante el semestre se hará una página web con Python y frameworks como Flask
                        Jinja y Bootstrap.
                    </b>
                </p>
            </div>
            <br>
            <!--====================================================================-->
            <div class="row">
                <p class="col col-1 card-text font-monospace text-danger">Q:</p>
                <p class="col card-text font-monospace text-danger">¿Quién es el adminsitrador de esta página?</p>
            </div>
            <!--       -->
            <div class="row">
                <p class="col col-1 card-text font-monospace">A:</p>
                <p class="col card-text font-monospace">
                    <b>
                        Eduardo Escalante
                    </b>
                </p>
            </div>
            <!--====================================================================-->
            <div class="row">
                <p class="col col-1 card-text font-monospace text-danger">Q:</p>
                <p class="col card-text font-monospace text-danger">No tengo más preguntas</p>
            </div>
            <!--       -->
            <div class="row">
                <p class="col col-1 card-text font-monospace">A:</p>
                <p class="col card-text font-monospace">
                    <b>
                        Entonces haz clic en el botón de abajo para regresar a la página de inicio.
                    </b>
                </p>
            </div>
            <!--====================================================================-->
            <br>
            <form method="get" action="/" style="height: 4rem">
                <input type="submit" class="btn btn-success w-100 h-100" value="Regresar a la página principal">
            </form>
        </div>
    </div>
</div>
<div class="col col-md-3"></div>


{% endblock %}

