<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.titulo}}</title>
</head>
<body>
    <h1>Tópicos avanzados de programación</h1><hr>
    <h2>Bienvenido al sitio Web de {{data.nombre}}</h2><br>

    <form method="get" action="crearmensaje">
        <label>Crea tu mensaje personalizado:</label><br>
        <label>Nombre:</label>
        <input type="text" name="name" placeholder="Escribe tu nombre..."><br>
        <input type="submit" value="Mostrar mensaje personalizado">
    </form>
</body>
</html>