{% extends 'plantilla.html' %}

{% block titulo %}
Página principal
{% endblock %}

{% block contenido %}
<!-- Crear mensaje personalizado -->
<div class="col col-md-4 " ></div>
<div class="col col-md-4">
    <div class="d-flex card align-items-center" style="width: 100%;">
        <img src="{{url_for('static', filename='TheFirst.gif')}}" class="crop-circle img-thumbnail rounded-circle" alt="...">
        <div class="card-body text-center">
            <h3 class="card-title" style="text-align: center;">Bienvenido al sitio web de Eduardo Escalante</h3>
            <hr>
            <p class="card-text">Escribe tu nombre para crear tu mensaje personalizado.</p>

            <form method="get" action="crearmensaje" >
                <label for="user">Nombre:</label>
                <input type="text" name="user" placeholder="Nombre de usuario...">
                <br>
                <label for="psw">Usuario</label>
                <input type="password" name="psw" placeholder="**********">
                <hr>
                <input type="submit" class="btn btn-success w-100" value="Mostrar mensaje personalizado">
            </form>

        </div>
    </div>
</div>
<div class="col col-md-4"></div>
{% endblock %}
