{% extends 'plantilla.html' %}

{% block titulo %}
{{data.titulo}}
{% endblock %}

{% block contenido %}

<div class="col col-md-3" >
    <div class="d-flex justify-content-center">
        <a href="/">
            <img src="{{url_for('static', filename='img/00_speaker2.gif')}}" class="square-img img-thumbnail " alt="...">
        </a>
    </div>
</div>
<div class="col col-md-6">
    <div class="d-flex card align-items-center" >
        <div class="card-body text-center" style="width: 100%;">
            <h3 class="card-title">Mensaje personalizado</h3>
            <hr>
            <p class="card-text">Bienvenido al sitio Web {{data.user}}</p>
            <p class="card-text font-monospace"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b>
            </p>
            <br>
            <form method="get" action="/" style="height: 4rem">
                <input type="submit" class="btn btn-success w-100 h-100" value="Regresar a la página principal">
            </form>
        </div>
    </div>
</div>
<div class="col col-md-3">
    <div class="d-flex justify-content-center">
        <a href="/">
            <img src="{{url_for('static', filename='img/00_speaker2.gif')}}" class="square-img img-thumbnail " alt="...">
        </a>
    </div>
</div>


{% endblock %}
