.crop-circle {
    object-fit: none;
    object-position: 55%;
    transition: all .25s;
    transform: scale(0.8);
    box-shadow: 0px 0px 20px;
}

.size-5-5 {
    width: 5rem;
    height: 5rem;   
}

.size-20-20 {
    width: 15rem;
    height: 15rem;
}

.crop-circle:hover {
    transform: scale(0.9);
}

.square-img {
    border-radius: 2rem;
    box-shadow: 0px 0px 20px;
    transition: all .25s;
    transform: scale(0.9);
}

.square-img:hover {
    transform: scale(1);
}

.left-sidebar {
    background-color: aquamarine;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: auto;
    
}