{% extends 'base.html' %}

{% block title %}Lista de Bajas{% endblock %}

{% block body %}
<!-- Eliminar -->
<div class="modal modal-sm fade" id="reincorporar-modal" tabindex="-1" role="dialog" aria-labelledby="reincorporar-modal-label"
	aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">¿Deseas reincorporar a este alumno al dojo?</h5>
			</div>
            <div class="modal-footer">
                <!-- Formulario de corfirmación -->
                <form action="/reincorporar/{{ alumnos.id }}" method="post" id="modal-confirmacion">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
		</div>
	</div>
</div>

<div class="container-fluid vh-100" style="text-align: center;">
    
    <!-- Bienvenida y usuario -->
    <div class="row justify-content-center align-items-center bg-index">
        {% if user.is_authenticated %}
        <!-- Mensaje de bienvenida -->
        <div class="text-center mt-3">
            <img src="{{ url_for('static', filename='/img/karate.png') }}" alt="Avatar" class="img-circle scale-anim img-thumbnail shadow" width="100" anim-scale="1.3">
        </div>
        <h4 class="text-white fw-semibold text-center mb-3">Usuario <span class="font-monospace">{{ user.id }}</span></h4>
        {% endif %}
    </div>

    <div class="row justify-content-center g-0" style="min-height: 28rem;">
        <div class="col-6 py-3">
            <h2 class="text-center">Lista de Bajas</h2>
            <!-- mensajes de éxito -->
            {% with successes = get_flashed_messages(category_filter=["success"]) %}
            {% if successes %}
                    {% for success in successes %}
                    <div class="alert alert-success alert-dismissible fade show mb-2 m-3" role="alert">
                        <span class="text-success fw-bold">{{ success }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- Mensajes de error -->
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                    {% for error in errors %}
                    <div class="alert alert-danger alert-dismissible fade show mb-2 m-3" role="alert">
                        <span class="text-danger fw-bold">{{ error }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <table class="table table-hover table-bordered rounded-4 overflow-hidden shadow text-center">
                <thead class="table-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Estatus</th>
                        <th scope="col"></th>
                        <th scope="col">Nombre completo</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col"></th>
                        <th scope="col">Acciones</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos %}
                    <tr style="cursor: pointer;">
                        <td></td>
                        <td>
                          {% if alumno.estatus == 'ACTIVO' %}
                              {% set classes='bg-success border-success-subtle' %}
                          {% elif alumno.estatus == 'PENDIENTE' %}
                              {% set classes='bg-warning border-warning-subtle' %}
                          {% else %}
                              {% set classes='bg-danger border-danger-subtle' %}
                          {% endif %}
                          <span class="badge rounded-pill bg-success w-100 scale-anim fs-6 {{ classes }}">
                            {{ alumno.estatus }}
                          </span>
                        </td>
                        <td></td>
                        <td>{{ alumno.nombres }} {{ alumno.apellido_paterno }} {{ alumno.apellido_materno }}</td>
                        <td> {{ alumno.telefono }} </td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary scale-anim-2" id="boton-modal"
                            data-bs-toggle="modal" 
                            data-bs-target="#reincorporar-modal"
                            data-id-alumno="{{ alumno.id }}">Reincorporar</button>
                            </form>
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <div class="row justify-content-center align-items-center bg-index" style="min-height: 100px;"></div>
</div>

<script>
$(document).ready(function() {
    // Capturar el clic del botón Eliminar en la tabla de alumnos
    $('button[data-bs-target="#reincorporar-modal"]').on('click', function() {
      var alumnoId = $(this).data('id-alumno'); // Obtener el ID del alumno desde el botón
      $('#modal-confirmacion').attr('action', '/reincorporar/' + alumnoId); 
    });
  });
</script>

{% endblock %}