{% extends 'base.html' %}

{% block title %}Primary{% endblock %}

{% block body %}
<div class="container-fluid bg-Indexm d-flex align-items-center justify-content-center vh-100">

<div class="container">
    {% if user.is_authenticated %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">¡Bienvenido!</div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="{{ url_for('static', filename='/img/usuario.jpg') }}" alt="Avatar" class="img-fluid rounded-circle" style="width: 500px;">
                    </div>
                    <br>
                    <p class="text-center">Hola, {{ user.nombres }} {{ user.apellido_paterno }} {{ user.apellido_materno }}. ¡Bienvenido de nuevo!</p>
                    <p class="text-center">Esperamos que tengas una excelente experiencia en nuestro sitio.</p>
                    <p class="text-center">Fecha de creación de tu cuenta: {{ user.fecha_creacion }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}


