{% extends 'base.html' %}

{% block title %}Alumnos deudores{% endblock %}

{% block body %}
<div class="container-fluid" style="height: calc(100vh - 130px);">
    <div class="row bg-index" style="height: 100px;"></div>
    <div class="row justify-content-center" style="min-height: 500px;">
        <div class="col-7">
            <!-- Titulo -->
            <div data-mdb-input-init class="form-outline mb-3 mx-5 mt-3 shadow">
                <div class="alert alert-light pt-3 text-center" role="alert">
                    <h1 class="text-center">Consulta de alumnos deudores</h1>
                    <h4>Periodo actual</h4>
                    <h5 id="periodo-actual"></h5>
                </div>
            </div>

            <!-- Tabla de deudores -->
            <div class="row justify-content-center pt-3 mb-4">
                <div class=" col-12">
                    <table class="table table-hover table-bordered rounded-4 overflow-hidden text-center shadow">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" colspan="2">Nombre completo</th>
                                <th scope="col">Último abono</th>
                                <th scope="col">Meses que debe</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Ir al perfil</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        {% if alumnos | length > 0 %}
                        <tbody>
                            {% for alumno in alumnos %}
                            <tr style="cursor: pointer;">
                                <td></td>
                                <td class="fw-semibold">{{ loop.index }}</td>
                                <td class="text-start ps-3">{{ alumno.nombres }} {{ alumno.apellido_paterno }} {{ alumno.apellido_materno }}</td>
                                <td class="text-start ps-3">{{ alumno.mes }} de {{ alumno.anio }}</td>
                                <td>{{ alumno.meses_adeudados }}</td>
                                <td>{{ alumno.telefono }}</td>
                                <td class="d-flex justify-content-center align-items-center m-2 p-0 bg-warning rounded-4">
                                    <a href="{{ url_for('profile', id=alumno.id) }}" class="d-flex justify-content-center scale-anim-2 w-100">
                                        <img src="{{ url_for('static', filename='/img/karate-icon.png') }}" alt="Logout" width="32" height="32" class="scale-anim-2">
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% else %}
                        <tbody>
                            <tr>
                                <td colspan="9"> Sin registros </td>
                            </tr>
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-index" style="height: 100px;"></div>
</div>
<script src="{{ url_for('static', filename='js/agregarAlumno.js') }}" defer></script>
<script>
    function diffMeses(fecha1, fecha2) {
        return (fecha1.getFullYear() - fecha2.getFullYear()) * 12 + fecha1.getMonth() - fecha2.getMonth()
    }

    function nombreMes(mes) {
        if (mes == 1)
            return 'Enero'
        else if (mes == 2)
            return 'Febrero'
        else if (mes == 3)
            return 'Marzo'
        else if (mes == 4)
            return 'Abril'
        else if (mes == 5)
            return 'Mayo'
        else if (mes == 6)
            return 'Junio'
        else if (mes == 7)
            return 'Julio'
        else if (mes == 8)
            return 'Agosto'
        else if (mes == 9)
            return 'Septiembre'
        else if (mes == 10)
            return 'Octubre'
        else if (mes == 11)
            return 'Noviembre'
        else if (mes == 12)
            return 'Diciembre'
    }

    function conseguirLabelsMeses(cantidadMeses) {
        let currentDate = new Date()
        let nextDate = new Date()
            nextDate.setMonth(nextDate.getMonth() + cantidadMeses)
        let diferencia = diffMeses(nextDate, currentDate)
        let labels = []
        let currentYear = currentDate.getFullYear()
        for (let index = currentDate.getMonth() + 1; index < nextDate.getMonth() + 1; index++) {
            let mes = index
            if (index > 12) {
                mes = index % 12
                currentYear = Math.floor(index / 12)
            }
            let zfillMes = ('0'+mes).slice(-2);
            
            let wrapper = []
            wrapper.push(`${currentYear}-${zfillMes}`)
            wrapper.push(`${nombreMes(mes)} de ${currentYear}`)
            
            // Cada elemento devuelto será una tupla (value:display)
            labels.push(wrapper)  
        }
        return labels
    }

    // Periodo actual
    let fechasPeriodo = conseguirLabelsMeses(2)
    let mes1 = fechasPeriodo[0][1].replace(' de ', '-')
    let mes2 = fechasPeriodo[1][1].replace(' de ', '-')
    let periodoLabel = `${mes1} a ${mes2}`
    $('#periodo-actual').text(periodoLabel)
</script>
{% endblock %}