<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    {% block scripts %}

    {% endblock %}
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <title>Pagos</title> 
</head>
<body>
    <div class="container-fluid bg-login">
        <div class="row h-100 d-flex justify-content-center">
            <div class="col-xl-5 col-lg-7 col-md-8 col-sm-10 d-flex flex-column justify-content-evenly my-3">

                <div class="d-flex justify-content-center mb-4">
                    <a href="{{url_for('profile', id = alumno.id )}}" class="btn btn-lg btn-outline-light mx-2">Regresar al perfil de {{alumno.nombres}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}}</a>
                </div>

                <div class="card bg-glass rounded-4">
                    <div class="card-body p-4">

                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <a href="{{url_for('index')}}">
                                <img src="{{url_for('static', filename = 'img/dojo-logo-blanco.png')}}" class="img-fluid scale-anim"
                                    alt="Logo del dojo" width="250">
                            </a>
                        </div>
                        <h3 class="text-center">Formato de registro de pagos</h3>
  
                        <!-- Nota -->
                        <div data-mdb-input-init class="form-outline mb-3 mx-5 shadow">
                            <div class="alert alert-light pt-3 text-center" role="alert">
                                <strong class="lh-sm"> Cuando un estudiante realice un pago, se registra la operación en el sistema </strong>
                                <table class="table table-bordered lh-1 mt-3 mb-1">
                                    <tr>
                                        <td colspan="2" class="table-active">Agregar un nuevo pago para</td>
                                    </tr>
                                    <tr >
                                        <td class="table-active">Nombre del alumno</td>
                                        <td>{{alumno.nombres}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    {% if paquete != None %}
                      {% if paquete.tiene_pagos == true %}
                        {% if paquete.cant_meses_abonados > 0 %} {# Debe abonar el mes actual #}
                        <form action="/test" method="post" id="form-pago" novalidate class="needs-validation">
                            {{form.csrf_token }}
                            {{form.id_alumno(value=paquete.id_alumno) }}
                            
                            <!-- Fecha de pago -->
                            <div data-mdb-input-init class="form-outline mb-3 shadow">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                            class="bi bi-key" viewBox="0 0 16 16">
                                            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                        </svg>
                                        <span class="ms-3">Fecha del pago</span>
                                    </span>
                                    <div class="form-floating">
                                        {{ form.fecha_pago(class="form-control form-control-lg") }}
                                        {{form.fecha_pago.label}}
                                        <span class="invalid-feedback my-1 px-2 fw-bold">
                                            <div class="d-flex flex-column justify-content-evenly">
                                                <small>● Ingrese una fecha válida.</small>
                                                <small>● La fecha no puede ser posterior al día actual.</small>
                                                <small>● Sólo puede elegir una fecha del mes actual.</small>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Fecha de corte -->
                            <div data-mdb-input-init class="form-outline mb-3 shadow">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <span class="ms-3">Periodo actual</span>
                                    </span>
                                    <div class="form-floating">
                                        {{ form.fecha_corte(class="form-control form-control-lg", type="date") }}
                                        {{ form.fecha_corte.label }}
                                    </div>
                                </div>
                            </div>

                            <!-- Monto total -->
                            <div data-mdb-input-init class="form-outline mb-3 shadow">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <span class="fs-4">$</span>
                                    </span>
                                    <div class="form-floating">
                                        {{ form.monto(class="form-control form-control-lg", readonly="true") }}
                                        {{ form.monto.label }}
                                    </div>
                                </div>
                            </div>

                            <!-- Nota -->
                            <div data-mdb-input-init class="form-outline mb-3 shadow">
                                <div class="alert alert-light py-3" role="alert">
                                    <strong class="lh-sm"> Nota: </strong>
                                    <p class="lh-base mb-0">
                                        El monto total del pago resulta de la suma del mes que se va a abonar en este periodo y de los meses que se han adeudado.
                                        Si el plazo del pago vence, el mes actual se considerará como un adeudo en el siguiente periodo de pago.
                                    </p>
                                </div>
                            </div>


                            <!-- Meses abonados y adeudados -->
                            <div class="row row-cols-2 g-2">
                                <div class="col-6">
                                    <!-- CANTIDAD ABONADOS -->
                                    <div class="form-control mb-3 shadow">
                                        <h5 class="text-center">Abono</h5>
                                        <div class="input-group my-2">
                                            <span class="input-group-text">
                                                {{form.cant_meses_abonados.label}}
                                            </span>
                                            {{form.cant_meses_abonados(class="form-control", value="1")}}
                                        </div>
                                        <li class="input-group my-2">
                                            <ul id="meses-abonados-list" class="input-group ps-0">
                                            </ul>
                                        </li>
                                    </div>
        
                                    <!-- Abono -->
                                    <div class="input-group mb-3 shadow">
                                        <span class="input-group-text" id="basic-addon1">
                                            {{form.abono.label}}
                                        </span>
                                        {{form.abono(class="form-control", readonly="true")}}
                                    </div>
                                </div>
                                
                                <div class="col-6">
                                    <!-- CANTIDAD MESES ADEUDO -->
                                    <div class="form-control mb-3 shadow">
                                        <h5 class="text-center">Adeudo</h5>
                                        <div class="input-group my-2">
                                            <span class="input-group-text">
                                                {{form.cant_meses_adeudados.label}}
                                            </span>
                                            {{form.cant_meses_adeudados(class="form-control", value = paquete.cant_meses_adeudados )}}
                                        </div>
                                        <li class="input-group my-2">
                                            <ul id="meses-adeudados-list" class="input-group ps-0">
                                            </ul>
                                        </li>
                                    </div>
        
                                    <!-- ADEUDO -->
                                    <div class="input-group mb-3 shadow">
                                        <span class="input-group-text" id="basic-addon1">
                                            {{form.adeudo.label}}
                                        </span>
                                        {{form.adeudo(class="form-control", readonly="true")}}
                                    </div>

                                </div>
                            </div>

                            <!-- Submit -->
                            <div class="d-grid justify-content-center mb-3">
                                {{ form.submit(class="btn btn-primary btn-lg") }}
                            </div>

                        </form>
                        {% else %}
                            <h1>El alumno no tiene pagos pendientes</h1>
                        {% endif %}
                      {% else %}
                      <h1>El alumno no tiene ningún pago. Se debe realizar el primer pago</h1>
                        
                      <form action="/test" method="post" id="form-pago" novalidate id="form-pago">
                        {{form.csrf_token }}
                        {{form.id_alumno(value=paquete.id_alumno) }}
                        
                        <!-- Fecha de pago -->
                        <div data-mdb-input-init class="form-outline mb-3 shadow">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                        class="bi bi-key" viewBox="0 0 16 16">
                                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                    </svg>
                                    <span class="ms-3">Fecha del pago</span>
                                </span>
                                <div class="form-floating">
                                    {{ form.fecha_pago(class="form-control form-control-lg") }}
                                    {{form.fecha_pago.label}}
                                    <span class="invalid-feedback my-1 px-2 fw-bold">
                                        <div class="d-flex flex-column justify-content-evenly">
                                            <small>● Ingrese una fecha válida.</small>
                                            <small>● La fecha no puede ser posterior al día actual.</small>
                                            <small>● Sólo puede elegir una fecha del mes actual.</small>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Fecha de corte -->
                        <div data-mdb-input-init class="form-outline mb-3 shadow">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <span class="ms-3">Periodo actual</span>
                                </span>
                                <div class="form-floating">
                                    {{ form.fecha_corte(class="form-control form-control-lg", type="date") }}
                                    {{ form.fecha_corte.label }}
                                </div>
                            </div>
                        </div>

                        <!-- Monto total -->
                        <div data-mdb-input-init class="form-outline mb-3 shadow">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <span class="fs-4">$</span>
                                </span>
                                <div class="form-floating">
                                    {{ form.monto(class="form-control form-control-lg") }}
                                    {{ form.monto.label }}
                                </div>
                            </div>
                        </div>

                        <!-- Nota -->
                        <div data-mdb-input-init class="form-outline mb-3 shadow">
                            <div class="alert alert-light py-3" role="alert">
                                <strong class="lh-sm"> Nota: </strong>
                                <p class="lh-base mb-0">
                                    Debido a que este es el primer pago del alumno, sólo podrá abonar hasta un máximo de 3 meses.
                                </p>
                            </div>
                        </div>

                        <!-- Mes abonado -->
                        <div data-mdb-input-init class="form-outline mb-3 shadow">
                            <!-- CANTIDAD ABONADOS -->
                            <div class="form-control mb-3 shadow">
                                <h5 class="text-center">Abono</h5>
                                <div class="input-group my-2">
                                    <span class="input-group-text">
                                        {{form.cant_meses_abonados.label}}
                                    </span>
                                    {{form.cant_meses_abonados(class="form-control", value="1")}}
                                </div>
                                <li class="input-group my-2">
                                    <ul id="meses-abonados-list" class="input-group ps-0">
                                    </ul>
                                </li>
                            </div>

                            <!-- Abono -->
                            <div class="input-group mb-3 shadow">
                                <span class="input-group-text" id="basic-addon1">
                                    {{form.abono.label}}
                                </span>
                                {{form.abono(class="form-control")}}
                            </div>
                        </div>

                        {{form.cant_meses_adeudados(class="form-control", hidden="true", value=cant_meses_adeudados )}}
                        {{form.adeudo(class="form-control", hidden="true" )}}



                        <!-- Submit -->
                        <div class="d-grid justify-content-center mb-3">
                            {{ form.submit(class="btn btn-primary btn-lg") }}
                        </div>

                    </form>


                      {% endif %}

                    {% endif %}
    
                    </div>
                </div>

            </div>
        </div>
    </div>

<script>
$(()=>{

    // Helpers
    function parseDate(date) {
        return date.toISOString().slice(0,10)
    }

    function diffMeses(fecha1, fecha2) {
        return (fecha1.getFullYear() - fecha2.getFullYear()) * 12 + fecha1.getMonth() - fecha2.getMonth()
    }

    function nombreMes(mes) {
        if (mes== 1)
            return 'Enero'
        else if (mes == 2)
            return 'Febrero'
        else if (mes == 3)
            return 'Marzo'
        else if (mes == 4)
            return 'Abril'
        else if (mes == 5)
            return 'Mayo'
        else if (mes == 6)
            return 'Junio'
        else if (mes == 7)
            return 'Julio'
        else if (mes == 8)
            return 'Agosto'
        else if (mes == 9)
            return 'Septiembre'
        else if (mes == 10)
            return 'Octubre'
        else if (mes == 11)
            return 'Noviembre'
        else if (mes == 12)
            return 'Diciembre'
    }

    function conseguirLabelsMeses(cantidadMeses) {
        let currentDate = new Date()
        let nextDate = new Date()
            nextDate.setMonth(nextDate.getMonth() + cantidadMeses)
        let diferencia = diffMeses(nextDate, currentDate)
        let labels = []
        let currentYear = currentDate.getFullYear()
        for (let index = currentDate.getMonth() + 1; index < nextDate.getMonth() + 1; index++) {
            let mes = index
            if (index > 12) {
                mes = index % 12
                currentYear = Math.floor(index / 12)
            }
            let zfillMes = ('0'+mes).slice(-2);
            
            let wrapper = []
            wrapper.push(`${currentYear}-${zfillMes}`)
            wrapper.push(`${nombreMes(mes)} de ${currentYear}`)
            
            // Cada elemento devuelto será una tupla value:display
            labels.push(wrapper)  

            /*
            labels -> label[0] -> YYYY-MM
            labels -> label[1] -> Mes de Año
            */
        }
        return labels
    }

    /*
    paquete = {
        'fecha_corte': fecha_corte,
        'cant_meses_abonados': cantidad_meses_abono,
        'meses_abonados': meses_abono,
        'cant_meses_adeudados': cantidad_meses_adeudo,
        'meses_adeudados': meses_adeudo,
        'abono': cantidad_meses_abono * 600,
        'adeudo': cantidad_meses_adeudo * 600,
        'monto': (cantidad_meses_abono * 600) + (cantidad_meses_adeudo * 600)
    }
    */
    {% if paquete != None %}
    let paquete = {{paquete | tojson | safe}} ;
    console.log(paquete)

    // Inicializar campos


    $('#cant_meses_abonados').val(paquete.cant_meses_abonados).prop('value', paquete.cant_meses_abonados)
    $('#cant_meses_adeudados').val(paquete.cant_meses_adeudados).prop('value', paquete.cant_meses_adeudados)
    $('#abono').val(paquete.abono).prop('value', paquete.abono)
    $('#adeudo').val(paquete.adeudo).prop('value', paquete.adeudo)


    // Obtiene la fecha del corte del siguiente mes
    let fechaCorte = new Date(Date.parse(paquete.fecha_corte)).toISOString().slice(0,10)

    // Obtiene la fecha de inicio de el mes actual
    let inicioMes = new Date();
        inicioMes.setDate(1)

    // Valida el input de fecha de pago para sólo poder elegir en el mes en curso
    $('#fecha_pago')
        .on('input', evt => {
            console.log(this.name)
                if (this.value === '') {
                    this.classList.remove('is-valid')
                    this.classList.remove('is-invalid')
                    return
                }
                // Algunos inputs tienen un mínimo de caracteres
                if (!this.checkValidity()) {
                    this.classList.remove('is-valid')
                    this.classList.add('is-invalid')
                } else {
                    this.classList.add('is-valid')
                    this.classList.remove('is-invalid')
                }
        })

    // Configura el corte de pago como no editable y le pone el valor que debe tener
    $('#fecha_corte').attr('val', fechaCorte).val(fechaCorte)

    // Configurar el input de cantidad de meses de abonos para mostrar los meses a abonar
    $('#cant_meses_abonados').on('input', evt => {
        var cantidad = $('#cant_meses_abonados').val()

        $('#cant_meses_abonados').val(cantidad).attr('value', cantidad)

        let meses = conseguirLabelsMeses(cantidad)
        
        $('#meses-abonados-list').empty()
        let contador = 1
        meses.forEach(label => {
            console.log($('#meses-abonados-list'))
            $('#meses-abonados-list').append(
                `<li class="input-group p-0 mb-0">
                    <span class="input-group-text">${contador}</span>
                    <input type="month" name="meses_abonados[]" value="${label[0]}">
                </li>`
            )
            contador++
        })
        // El campo de abono es la cantidad de meses x 600
        $('#abono').val(cantidad * 600.0).attr('value', cantidad * 600.0)
    })

    // Configurar el input de meses de adeudo para mostrar el valor correcto
    $('#cant_meses_adeudados').on('input', evt => {
        // Aqui debe llamar al paquete y ponerle los meses adeudados en él
        var cantidad = $('#cant_meses_adeudados').val()

        $('#cant_meses_adeudados').val(cantidad).attr('value', cantidad)

        let meses = conseguirLabelsMeses(cantidad)
        
        $('#meses-adeudados-list').empty()
        let contador = 1
        meses.forEach(label => {
            console.log($('#meses-adeudados-list'))
            $('#meses-adeudados-list').append(
                `<li class="input-group p-0 mb-0">
                    <span class="input-group-text">${contador}</span>
                    <input type="month" name="meses_abonados[]" value="${label[0]}">
                </li>`
            )
            contador++
        })       
        // El campo de adeudo es la cantidad de meses x 600
        $('#adeudo').val(cantidad * 600.0).attr('value', cantidad * 600.0)
    })

    // Al moverle al form se actualiza el monto total
    $('#form-pago').on('input', evt => {
        let abono = $('#abono').val()
        let adeudo = $('#adeudo').val()
        let monto = Number(abono) + Number(adeudo)
        $('#monto').val(monto).attr('value', monto)
    })
    
    $('#cant_meses_abonados').trigger('input')
    $('#cant_meses_adeudados').trigger('input')
    {% endif %}


})
</script>
</body>
</html>