{% extends 'base2.0.html' %}

{% block title %}Registro{% endblock %}

{% block body %}
<div class="container-fluid bg-register">
	<div class="row d-flex justify-content-center h-100">
		<div class="col-xl-6 col-lg-7 col-md-9 col-sm-10 h-100">
			<div class="card rounded-5 h-100 bg-glass my-5 px-5">
				<div class="card-body h-100 p-3 d-flex flex-column justify-content-evenly">
					<div class="d-flex justify-content-center align-items-center my-3">
						<a href="{{url_for('Inicio')}}">
						  <img src="{{url_for('static', filename = 'img/dojo-logo-blanco.png')}}" class="img-fluid scale-anim" alt="Logo del dojo" width="350"> 
						</a>
					</div>

					<div class="mb-3 mt-2">
						<h3 class="text-center">Registro para nuevos usuarios</h3>
					</div>

					<form action="{{url_for('registro')}}" method="post" class="needs-validation" id="form-registro" novalidate>
						{{ form.hidden_tag() }}
						<input type="hidden" name="next" id="next" value="{{ request.args.get('next', '') }}" />

						{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
						{% for category,message in messages %}
						{% if category=='error' %}
						<div class="alert alert-danger alert-dismissible fade show mb-2" role="alert">
							<div class="col-11">
								<span class="text-danger fw-bold">Error: {{message}}</span>
							</div>
							<div class="col-1">
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						</div>
						{% else %}
						<div class="alert alert-success alert-dismissible fade show mb-2" role="alert">
							<div class="col-11">
								<span class="text-success fw-bold">{{message}}</span>
							</div>
							<div class="col-1">
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						</div>
						{% endif %}
						{% endfor %}
						{% endif %}
						{% endwith %}

						{% for field, errors in form.errors.items() %}
						<div class="alert alert-danger alert-dismissible fade show mb-2" role="alert">
							<div class="col-11">
								<span class="text-danger fw-bold">Error en {{form[field].label | lower}}:</span>
								{% for error in errors %}
								<br><span class="text-danger fw-bold">{{ error }}</span>
								{% endfor %}
							</div>
							<div class="col-1">
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						</div>
						{% endfor %}

						<!--NOMBRES-->
						<div data-mdb-input-init class="form-outline mb-3 shadow-sm ">
							<div class="input-group">
								<span class="input-group-text">
									Datos personales
								</span>
								<div class="form-floating">
									{{ form.nombres(class="form-control", pattern="^([a-zA-ZÀ-ú]{2,})([ \-]?[a-zA-ZÀ-ú]{2,})*$", placeholder="Nombre(s)", required = True) }}
									{{ form.nombres.label }}
									<span class="invalid-feedback my-1 px-2 fw-bold">
										<div class="d-flex flex-column justify-content-evenly">
											<small>● El (los) nombre(s) solo puede(n) contener letras y guiones.</small>
											<small>● Los nombres deben ir separados por un único caracter de espacio.</small>
											{% for error in form.username.errors %}
											<small>● {{error}}</small>
											{% endfor %}
										</div>
									</span>
								</div>
							</div>
						</div>
						<!--APELLIDOS-->
						<div data-mdb-input-init class="form-outline mb-3 shadow-sm bg-white">
							<div class="input-group">
								<span class="input-group-text"></span>
								<div class="form-floating">
									{{ form.apellido_paterno(class="form-control", pattern="^([a-zA-ZÀ-ú]{2,})([ \-]?[a-zA-ZÀ-ú]{2,})*$", placeholder="Nombre(s)", required = True) }}
									{{ form.apellido_paterno.label }}
									<span class="invalid-feedback my-1 px-2 fw-bold">
										<div class="d-flex flex-column justify-content-evenly">
											<small>● El apellido sólo debe contener letras y/o guiones (-).</small>
											<small>● Si el apellido es compuesto, debe ir separado por un guión (-).</small>
											{% for error in form.apellido_paterno.errors %}
											<small>● {{error}}</small>
											{% endfor %}
										</div>
									</span>
								</div>
								<span class="input-group-text"></span>
								<div class="form-floating">
									{{ form.apellido_materno(class="form-control", pattern="^([a-zA-ZÀ-ú]{2,})([ \-]?[a-zA-ZÀ-ú]{2,})*$", placeholder="Nombre(s)", required = True) }}
									{{ form.apellido_materno.label }}
									<span class="invalid-feedback my-1 px-2 fw-bold">
										<div class="d-flex flex-column justify-content-evenly">
											<small>● El apellido sólo debe contener letras y/o guiones (-).</small>
											<small>● Si el apellido es compuesto, debe ir separado por un guión (-).</small>
											{% for error in form.apellido_materno.errors %}
											<small>● {{error}}</small>
											{% endfor %}
										</div>
									</span>
								</div>
							</div>
						</div>
						<!--USERNAME-->
						<div data-mdb-input-init class="form-outline mb-3 shadow-sm bg-white">
							<div class="input-group">
								<span class="input-group-text">
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
										class="bi bi-person-vcard" viewBox="0 0 16 16">
										<path
											d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
										<path
											d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
									</svg>
								</span>
								<div class="form-floating">
									{{ form.username(class="form-control", pattern="(?=.*[a-zA-Z])(^[\w]{5,20})$", placeholder="username", required = True) }}
									{{ form.username.label }}
									<span class="invalid-feedback my-1 px-2 fw-bold">
										<div class="d-flex flex-column justify-content-evenly">
											<small>● El nombre de usuario debe contener entre 5 y 20 caracteres.</small>
											<small>● El nombre de usuario debe contener al menos una letra (sin signos diacríticos).</small>
											<small>● El nombre de usuario sólo debe contener letras (sin signos diacríticos), números o guiones bajos, y no debe contener espacios.</small>
											{% for error in form.username.errors %}
											<small>● {{error}}</small>
											{% endfor %}
										</div>
									</span>
								</div>
							</div>
						</div>
						<!--CORREO-->
						<div data-mdb-input-init class="form-outline mb-3 shadow-sm bg-white">
							<div class="input-group">
								<span class="input-group-text">
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
										<path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
										<path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
									</svg>
								</span>
								<div class="form-floating">
									{{ form.email(class="form-control", pattern="^([a-zA-Z][\w+\-]+(?:\.\w+)?)+@([\w\-]+(?:\.[a-z]{2,10})+)$", placeholder="email", required = True) }}
									{{ form.email.label }}
									<span class="invalid-feedback my-1 px-2 fw-bold">
										<div class="d-flex flex-column justify-content-evenly">
											<small>● La dirección de correo electrónico debe contener un signo @.</small>
											<small>● La parte posterior al signo @ debe contener al menos un punto.</small>
											<small>● La dirección de correo electrónico no puede contener caracteres especiales.</small>
											<small>● La dirección de correo electrónico no puede contener dos puntos de forma seguida.</small>
											{% for error in form.username.errors %}
											<small>● {{error}}</small>
											{% endfor %}
										</div>
									</span>
								</div>
							</div>
						</div>
						<!--CONTRASEÑA-->
						<div data-mdb-input-init class="form-outline mb-3 shadow-sm bg-white">
							<div class="input-group">
								<span class="input-group-text">
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
										class="bi bi-key" viewBox="0 0 16 16">
										<path
											d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
										<path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
									</svg>
								</span>
								<div class="form-floating">
									{{ form.password(class="form-control", placeholder="password", required = True) }}
									{{ form.password.label }}
									<span class="invalid-feedback my-1 px-2 fw-bold">
										<div class="d-flex flex-column justify-content-evenly">
											<small>● La contraseña debe contener entre 8 y 20 caracteres.</small>
											{% for error in form.password.errors %}
											<small>● {{error}}</small>
											{% endfor %}
										</div>
									</span>
								</div>
							</div>
						</div>
						<!--CONFIRMAR-CONTRASEÑA-->
						<div data-mdb-input-init class="form-outline mb-3 shadow-sm bg-white">
							<div class="input-group">
								<span class="input-group-text">
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
										class="bi bi-key" viewBox="0 0 16 16">
										<path
											d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
										<path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
									</svg>
								</span>
								<div class="form-floating">
									{{ form.confirm_password(class="form-control", placeholder="password", required = True) }}
									{{ form.confirm_password.label }}
									<span class="invalid-feedback my-1 px-2 fw-bold">
										<div class="d-flex flex-column justify-content-evenly">
											<small>● La contraseña debe contener entre 8 y 20 caracteres.</small>
											{% for error in form.confirm_password.errors %}
											<small>● {{error}}</small>
											{% endfor %}
										</div>
									</span>
								</div>
							</div>
						</div>
						<!--SUBMIT-->
						<div class="d-grid mb-2">
							{{ form.submit(class="btn btn-danger btn-lg ") }}
						</div>
					</form>

					<!--Redirigir a login-->
					<div class="mb-2 row text-center">
						<p>Ya tienes una cuenta? <a href="{{url_for('login')}}" style="color: #393f81;">Iniciar sesión</a></p>
					</div>

					<!-- Foto del dojo -->
					<div class="mb-2 row m-4 shadow-lg p-2 rounded-4">
						<img src="{{ url_for('static', filename='img/Galindo.jpg') }}" alt="login form" class="img-fluid img-thumbnail scale-anim p-2 rounded-4" />
						<strong class="mt-1 mb-3 px-5">Con más de 20 años en la ciudad de Pachuca, Senshi Zen Karate-Do ha enriquecido el desarrollo de cada uno de sus alumnos aportando valor a su educación.</strong>
						<p class="mb-3">El 19 de agosto de 2004, el Sensei Fernando Galindo funda Senshi Zen Karate-Do con el objetivo de formar alumnos de excelencia que se esfuerzan para alcanzar sus objetivos.</p>
					</div>

					 <!-- Redes sociales -->
					<div class="mt-3 text-center">
						<p class="text-center lh-1 mb-1">Redes sociales</p>
						<a href="https://karatesz.mx/" class="btn btn-link btn-floating mx-1 scale-anim" target="_blank">
							<img src="{{ url_for('static', filename='/img/logo-dojo.png') }}" alt="Webpage" class="bg-black rounded-3 p-1" style="width: 2.5rem; height: 2.5rem;">
						</a>
						<a href="https://www.facebook.com/DojoSenshiZen/?locale=es_LA" class="btn btn-link btn-floating mx-1 scale-anim" target="_blank">
							<img src="{{ url_for('static', filename='/img/facebook.png') }}" alt="Facebook" style="width: 2.5rem; height: 2.5rem;">
						</a>
						<a href="https://www.instagram.com/senshizen.karatedo/?hl=es" class="btn btn-link btn-floating mx-1 scale-anim" target="_blank">
							<img src="{{ url_for('static', filename='/img/instagram.png') }}" alt="Instagram" style="width: 2.5rem; height: 2.5rem;">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>


 <!--SCRIPTS-->
 <script src="{{url_for('static', filename='js/registro.js')}}"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
 integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
 crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
 crossorigin="anonymous"></script>

{% endblock %}