{% extends 'base2.0.html' %}

{% block title %}Registro{% endblock %}

{% block body %}

<div class="container-fluid bg-register d-flex align-items-center justify-content-center vh-100"> 

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-0">
        <div class="row gx-lg-0 align-items-center mb-0">
          
          <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          
            <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
              
              <div class="row g-0">
                <img src="{{ url_for('static', filename='img/Galindo.jpg') }}" alt="login form" class="img-fluid p-5"
                  style="border-radius: 1rem 0 0 1rem;" />
              </div>
              
              <p class="mb-4 opacity-70 px-5" style="color: hsl(218, 81%, 85%); font-size: 0.9rem;">
                <strong>Bienvenido al Dojo de Karate de Fernando Galindo Salinas:</strong> ¡Estamos emocionados de que te unas a
                nuestra comunidad! Prepárate para vivir una experiencia única y desarrollar tus habilidades en el arte del karate.
              </p>

          </div>
    
          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

            <div class="card bg-glass">
              <div class="card-body px-2 py-3 px-md-3">

                {% if message %}
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-md-12">
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>Error:</strong> {{ message['text'] }}
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                
                <form action="/registro" method="post">
                  <div class="d-flex justify-content-center pb-2 px-3">
                    <a href="{{url_for('Inicio')}}" class="w-50">
                      <img src="{{url_for('static', filename = 'img/dojo-logo-blanco.png')}}" class="img-fluid scale-anim" alt="">
                    </a>
                  </div>

                  <h5 class="text-center mb-3">Formato de registro</h5>

                  <!--Nombre de usuario-->
                  <div data-mdb-input-init class="form-outline mb-2 shadow-sm">
                    <div class="input-group">
                      <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                          class="bi bi-person-vcard" viewBox="0 0 16 16">
                          <path
                            d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                          <path
                            d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                        </svg>
                      </span>
                      <div class="form-floating">
                        <input type="text" class="form-control" name="username" id="user" required>
                        <label for="user">Nombre de usuario</label>
                      </div>
                    </div>
                  </div>
                  <!--Nombres-->
                  <div data-mdb-input-init class="form-outline mb-0 shadow-sm">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="nombres" id="nombres" required>
                      <label for="nombres">Nombre(s)</label>
                    </div>
                  </div>
                  <!--Apellidos-->
                  <div data-mdb-input-init class="form-outline mb-2 shadow-sm">
                    <div class="input-group">
                      <div class="form-floating">
                        <input type="text" class="form-control" name="apellido_p" id="apellido_p" required>
                        <label for="apellido_p">Primer apellido</label>
                      </div>
                      <div class="form-floating">
                        <input type="text" class="form-control" name="apellido_m" id="apellido_m" required>
                        <label for="apellido_m">Segundo apellido</label>
                      </div>
                    </div>
                  </div>
                  <!--Correo-->
                  <div data-mdb-input-init class="form-outline mb-2 shadow-sm">
                    <div class="input-group">
                      <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                          class="bi bi-person-vcard" viewBox="0 0 16 16">
                          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                        </svg>
                      </span>
                      <div class="form-floating">
                        <input type="email" class="form-control" name="email" id="email" required>
                        <label for="email">Correo electrónico</label>
                      </div>
                    </div>
                  </div>
                  <!--Contraseña-->
                  <div data-mdb-input-init class="form-outline mb-2 shadow-sm">
                    <div class="input-group">
                      <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                          <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                        </svg>
                      </span>
                      <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="password" required>
                        <label for="password">Contraseña</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" name="confirmar_password" id="confirmar_password" required>
                        <label for="confirmar_password">Confirmar contraseña</label>
                      </div>
                    </div>
                  </div>
    
                  <!-- Submit button -->
                  <div class="px-5 mt-3 mb-2 row justify-content-center">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-danger btn-block">
                      Registrarse
                    </button>
                  </div>

                  <!--Redirigir a login-->
                  <div class="px-5 row justify-content-center">
                      <p class="mb-2">Ya tienes una cuenta?
                        <a href="{{url_for('login')}}" style="color: #393f81;">Iniciar sesión</a>
                      </p>
                  </div>
    
                  <!-- Register buttons -->
                  <div class="text-center">
                    <a href="https://www.facebook.com/DojoSenshiZen/?locale=es_LA" class="btn btn-link btn-floating mx-1" target="_blank">
                        <img src="{{ url_for('static', filename='/img/facebook.png') }}" alt="Facebook" style="width: 24px; height: 24px;">
                    </a>
                    <a href="https://www.instagram.com/senshizen.karatedo/?hl=es" class="btn btn-link btn-floating mx-1" target="_blank">
                        <img src="{{ url_for('static', filename='/img/instagram.png') }}" alt="Instagram" style="width: 24px; height: 24px;">
                    </a>
                  </div>
                  
                </form>
                
              </div>
            </div>

          </div>
        </div>
      </div>
</div>


 <!--SCRIPTS-->
    
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
 integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
 crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
 crossorigin="anonymous"></script>

{% endblock %}